* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: rgb(217, 194, 163);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container {
	background-color: bisque;
	width: 400px;
	height: 400px;
	padding: 20px;
	border-radius: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
#currency {
	width: 145px;
	padding: 0 40px;
	border: solid 0.01px;
	border-radius: 2.5px;
	background-color: rgb(217, 194, 163);
}
#currency:focus {
	outline: none;
}
label {
	font-family: sans-serif;
	font-weight: 300;
}
input {
	margin-top: 10px;
	background-color: rgb(217, 194, 163);
	border: 0.01px solid;
	border-radius: 2.5px;
	padding: 2px 0 2px 5px;
	outline: none;
}

button {
	border: none;
	outline: none;
	padding: 10px;
	background-color: rgb(217, 194, 163);
	border-radius: 10px;
	cursor: pointer;
}